<section id="footer" class="section footer">
  <div class="container footer-container">
    <div class="footer-block_data">
      <h2 class="section-title footer-title">
        <span class="section-title_inside">Chocolate</span> a delicious cure for
        a bad day
      </h2>
      <div class="footer-box_data">
        <address class="footer-contact">
          <p class="footer-caption footer-title_address">Contact us</p>
          <ul class="footer-list_address">
            <li>
              <a class="footer-link_address" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li>
              <a class="footer-link_address" href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
        <div class="footer-block_net">
          <p class="footer-caption footer-title_net">Social networks</p>
          <ul class="footer-list_icon">
            <li class="footer-item_icon">
              <a href="./index.html" class="footer-link_icon" target="_blank">
                <svg class="footer-icon_net" width="20" height="21">
                  <use href="./img/icons.svg#icon_insta"></use>
                </svg>
              </a>
            </li>
            <li class="footer-item_icon">
              <a href="./index.html" class="footer-link_icon" target="_blank"
                ><svg class="footer-icon_net" width="20" height="21">
                  <use href="./img/icons.svg#icon_face"></use>
                </svg>
              </a>
            </li>
            <li class="footer-item_icon">
              <a href="./index.html" class="footer-link_icon" target="_blank"
                ><svg class="footer-icon_net" width="20" height="21">
                  <use href="./img/icons.svg#icon_twit"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-block_nav">
      <nav class="footer-box_nav">
        <ul class="footer-nav_page">
          <li class="footer-item_page">
            <a href="./index.html" class="footer-link_page">Home</a>
          </li>
          <li class="footer-item_page">
            <a href="#made" class="footer-link_page">How it’s made?</a>
          </li>
          <li class="footer-item_page footer-item_products">
            <a href="#products" class="footer-link_page">Our products</a>
          </li>
          <li class="footer-item_page footer-item_sellers">
            <a href="#sellers" class="footer-link_page">Top sellers</a>
          </li>
          <li class="footer-item_page">
            <a href="#reviews" class="footer-link_page">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <form class="footer-form" name="email" autocomplete="off">
        <label>
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            class="footer-input_mail"
            required
            pattern="([a-zA-Z0-9_.±]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]).{3,}"
            title="Пошта повинна мати символ @."
            maxlength="15"
          />
        </label>
        <button type="submit" class="button footer-btn_mail">Subscribe</button>
      </form>
    </div>
  </div>
</section>
