<header class="section header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo_link" target="_blank">
        <span class="header-logo_name">Simply</span>Chocolate
        <span class="header-logo_icon">
          <svg class="header-icon_chocolate" width="21" height="21">
            <use href="./img/icons.svg#icon_chocolate"></use>
          </svg>
        </span>
      </a>
      <ul class="header-list_page">
        <li class="header-item_page">
          <a href="./index.html" class="header-link_page">Home</a>
        </li>
        <li class="header-item_page">
          <a href="#made" class="header-link_page">How it’s made?</a>
        </li>
        <li class="header-item_page">
          <a href="#rewiew" class="header-link_page">Chocolate is loved</a>
        </li>
      </ul>
      <ul class="header-list_icon">
        <li class="header-item_icon">
          <a href="./index.html" class="header-link_icon" target="_blank">
            <svg class="header-icon_net" width="20" height="21">
              <use href="./img/icons.svg#icon_insta"></use>
            </svg>
          </a>
        </li>
        <li class="header-item_icon">
          <a href="./index.html" class="header-link_icon" target="_blank"
            ><svg class="header-icon_net" width="20" height="21">
              <use href="./img/icons.svg#icon_face"></use>
            </svg>
          </a>
        </li>
        <li class="header-item_icon">
          <a href="./index.html" class="header-link_icon" target="_blank"
            ><svg class="header-icon_net" width="20" height="21">
              <use href="./img/icons.svg#icon_twit"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button class="button header-btn_menu js-open-menu" type="button" 
    aria-expanded="false"
    aria-controls="mobile-menu"
    >
      <svg class="header-icon_menu" width="24" height="16">
        <use href="./img/icons.svg#icon_menu"></use>
      </svg>
    </button>
  </div>
  </div>
</header>
