<section class="section made">
  <div class="container made-container">
    <h2 class="section-title made-title">
      how it’s <span class="section-title_inside">made?</span>
    </h2>
    <div class="made-box_img">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/solutions-img/solutions-mob-@1x-min.jpg 1x,
            ./images/solutions-img/solutions-mob-@2x-min.jpg 2x
          "
        />
        <source
          media="(max-width: 1359px)"
          srcset="
            ./images/solutions-img/solutions-tab-@1x-min.jpg 1x,
            ./images/solutions-img/solutions-tab-@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 1360px)"
          srcset="
            ./images/solutions-img/solutions-desk-@1x-min.jpg 1x,
            ./images/solutions-img/solutions-desk-@2x-min.jpg 2x
          "
        />
        <img
          src="./images/solutions-img/solutions-desk-@1x-min.jpg"
          alt="our team"
        />
      </picture>
    </div>
  </div>
</section>
