<section class="section made">
  <div class="container made-container">
    <h2 class="section-title made-title">
      how it’s <span class="section-title_inside">made?</span>
    </h2>
    <div class="made-block_descr">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/made/mademob-min.png    1x,
            ./img/made/mademob@2x-min.png 2x
          "
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            ./img/made/madetab-min.png    1x,
            ./img/made/madetab@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/made/madedesc-min.png    1x,
            ./img/made/madedesc@2x-min.png 2x
          "
        />
        <img
          class="made-photo"
          src="./img/made/madedesc-min.png"
          alt="chocolates"
        />
      </picture>
      <div class="made-box_descr">
        <h3 class="made-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="made-list_descr">
          <li class="made-item_descr">
            <svg class="made-icon" width="8" height="8">
              <use href="./img/icons.svg#icon-made"></use>
            </svg>
            <p class="made-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="made-item_descr">
            <svg class="made-icon" width="8" height="8">
              <use href="./img/icons.svg#icon-made"></use>
            </svg>
            <p class="made-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="made-item_descr">
            <svg class="made-icon" width="8" height="8">
              <use href="./img/icons.svg#icon-made"></use>
            </svg>
            <p class="made-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="made-item_descr">
            <svg class="made-icon" width="8" height="8">
              <use href="./img/icons.svg#icon-made"></use>
            </svg>
            <p class="made-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="made-item_descr">
            <svg class="made-icon" width="8" height="8">
              <use href="./img/icons.svg#icon-made"></use>
            </svg>
            <p class="made-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
