<div class="menu js-menu-container" id="mobile-menu">
  <div class="menu-container">
    <button type="submit" class="button menu-btn_close js-close-menu">
      <svg class="menu-icon_close" width="28" height="28">
        <use href="./img/icons.svg#icon-menu_close"></use>
      </svg>
    </button>
    <nav class="menu-nav">
      <ul class="menu-list_page">
        <li class="menu-item_page">
          <a href="./index.html" class="menu-link_page">Home</a>
        </li>
        <li class="menu-item_page">
          <a href="#made" class="menu-link_page">How it’s made?</a>
        </li>
        <li class="menu-item_page">
          <a href="#rewiew" class="menu-link_page">Chocolate is loved</a>
        </li>
     </nav>
      </ul>
      <ul class="menu-list_icon">
        <li class="menu-item_icon">
          <a href="./index.html" class="menu-link_icon" target="_blank">
            <svg class="menu-icon_net" width="20" height="20">
              <use href="./img/icons.svg#icon_insta"></use>
            </svg>
          </a>
        </li>
        <li class="menu-item_icon">
          <a href="./index.html" class="menu-link_icon" target="_blank"
            ><svg class="menu-icon_net" width="20" height="20">
              <use href="./img/icons.svg#icon_face"></use>
            </svg>
          </a>
        </li>
        <li class="menu-item_icon">
          <a href="./index.html" class="menu-link_icon" target="_blank"
            ><svg class="menu-icon_net" width="20" height="20">
              <use href="./img/icons.svg#icon_twit"></use>
            </svg>
          </a>
        </li>
      </ul>
 
  </div>
</div>
