<section class="section products">
  <div class="container products-container">
    <h2 class="section-title products-title">
      Our <span class="section-title_inside">products</span>
    </h2>
    <ul class="products-list">
      <li class="products-item">
        <img
          class="products-photo"
          src="./img/products/img-1-min.jpg"
          srcset="
            ./img/products/img-1-min.jpg    1x,
            ./img/products/img-1@2x-min.jpg 2x
          "
          width="230"
          alt="chocolate"
        />
        <p class="products-title_photo">orange</p>
        <p class="products-subtitle_photo">Dark chocolate</p>
        <p class="products-price">45 UAH</p>
      </li>
      <li class="products-item">
        <img
          class="products-photo"
          src="./img/products/img-2-min.jpg"
          srcset="
            ./img/products/img-2-min.jpg    1x,
            ./img/products/img-2@2x-min.jpg 2x
          "
          width="230"
          alt="chocolate"
        />
        <p class="products-title_photo">APPLE&CRANBERRY</p>
        <p class="products-subtitle_photo">Milk chocolate</p>
        <p class="products-price">50 UAH</p>
      </li>
      <li class="products-item">
        <img
          class="products-photo"
          src="./img/products/img-3-min.jpg"
          srcset="
            ./img/products/img-3-min.jpg    1x,
            ./img/products/img-3@2x-min.jpg 2x
          "
          width="230"
          alt="chocolate"
        />
        <p class="products-title_photo">lime&sea salt</p>
        <p class="products-subtitle_photo">Dark chocolate</p>
        <p class="products-price">66 UAH</p>
      </li>
      <li class="products-item">
        <img
          class="products-photo"
          src="./img/products/img-4-min.jpg"
          srcset="
            ./img/products/img-4-min.jpg    1x,
            ./img/products/img-4@2x-min.jpg 2x
          "
          width="230"
          alt="chocolate"
        />
        <p class="products-title_photo">pineapple</p>
        <p class="products-subtitle_photo">Dark chocolate</p>
        <p class="products-price">54 UAH</p>
      </li>
      <li class="products-item">
        <img
          class="products-photo"
          src="./img/products/img-5-min.jpg"
          srcset="
            ./img/products/img-5-min.jpg    1x,
            ./img/products/img-5@2x-min.jpg 2x
          "
          width="230"
          alt="chocolate"
        />
        <p class="products-title_photo">Classic</p>
        <p class="products-subtitle_photo">Milk chocolate</p>
        <p class="products-price">45 UAH</p>
      </li>
      <li class="products-item">
        <img
          class="products-photo"
          src="./img/products/img-6-min.jpg"
          srcset="
            ./img/products/img-6-min.jpg    1x,
            ./img/products/img-6@2x-min.jpg 2x
          "
          width="230"
          alt="chocolate"
        />
        <p class="products-title_photo">honey</p>
        <p class="products-subtitle_photo">Dark chocolate</p>
        <p class="products-price">50 UAH</p>
      </li>
      <li class="products-item">
        <img
          class="products-photo"
          src="./img/products/img-7-min.jpg"
          srcset="
            ./img/products/img-7-min.jpg    1x,
            ./img/products/img-7@2x-min.jpg 2x
          "
          width="230"
          alt="chocolate"
        />
        <p class="products-title_photo">Roasted fruits</p>
        <p class="products-subtitle_photo">Dark chocolate</p>
        <p class="products-price">66 UAH</p>
      </li>
      <li class="products-item">
        <img
          class="products-photo"
          src="./img/products/img-8-min.jpg"
          srcset="
            ./img/products/img-8-min.jpg    1x,
            ./img/products/img-8@2x-min.jpg 2x
          "
          width="230"
          alt="chocolate"
        />
        <p class="products-title_photo">Classic</p>
        <p class="products-subtitle_photo">White chocolate</p>
        <p class="products-price">54 UAH</p>
      </li>
    </ul>
  </div>
</section>
