<section id="rewiew" class="section rewiew">
  <div class="container">
    <h2 class="section-title rewiew-title">
      <span class="section-title_inside">chocolate </span> is loved
    </h2>
    <ul class="rewiew-list">
      <li class="rewiew-item">
        <div class="rewiew-box_photo">
          <img
            class="rewiew-photo"
            srcset="
              ./img/rewiew/img1-min.jpg    1x,
              ./img/rewiew/img1@2x-min.jpg 2x
            "
            src="./img/rewiew/img1-min.jpg"
            alt="Victoria Dobrzhanska"
          />
        </div>
        <div class="rewiew-box_descr">
          <p class="rewiew-photo_title">Victoria Dobrzhanska</p>
          <p class="rewiew-photo_descr">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </li>
      <li class="rewiew-item">
        <div class="rewiew-box_photo">
          <img
            class="rewiew-photo"
            srcset="
              ./img/rewiew/img2-min.jpg    1x,
              ./img/rewiew/img2@2x-min.jpg 2x
            "
            src="./img/rewiew/img2-min.jpg"
            alt="Nazar Babenko"
          />
        </div>
        <div class="rewiew-box_descr">
          <p class="rewiew-photo_title">Nazar Babenko</p>
          <p class="rewiew-photo_descr">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </li>
      <li class="rewiew-item">
        <div class="rewiew-box_photo">
          <img
            class="rewiew-photo"
            srcset="
              ./img/rewiew/img3-min.jpg    1x,
              ./img/rewiew/img3@2x-min.jpg 2x
            "
            src="./img/rewiew/img3-min.jpg"
            alt="Olena Kampusch"
          />
        </div>
        <div class="rewiew-box_descr">
          <p class="rewiew-photo_title">Olena Kampusch</p>
          <p class="rewiew-photo_descr">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </li>
      <li class="rewiew-item">
        <div class="rewiew-box_photo">
          <img
            class="rewiew-photo"
            srcset="
              ./img/rewiew/img4-min.jpg    1x,
              ./img/rewiew/img4@2x-min.jpg 2x
            "
            src="./img/rewiew/img4-min.jpg"
            alt="Dmitro Vovchik"
          />
        </div>
        <div class="rewiew-box_descr">
          <p class="rewiew-photo_title">Dmitro Vovchik</p>
          <p class="rewiew-photo_descr">
            Love the delicious smooth chocolate and the creaminess inside. The
            wafer is soft but crunchy, the addition of nuts adds a whole new.
          </p>
        </div>
      </li>
    </ul>
    <button type="submit" class="rewiew-btn">Leave a review</button>
  </div>
</section>
