<section class="section sellers">
  <div class="container">
    <h2 class="section-title sellers-title">
      <span class="section-title_inside">Top</span> sellers
    </h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <div class="sellers-box_photo">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/sellers/img-mob1-min.jpg    1x,
                ./img/sellers/img-mob1@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/sellers/img-tab1-min.jpg    1x,
                ./img/sellers/img-tab1@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/sellers/img-desc1-min.jpg    1x,
                ./img/sellers/img-desc1@2x-min.jpg 2x
              "
            />
            <img
              class="sellers-photo"
              src="./img/sellers/img-desc1-min.jpg"
              alt="CHOCOLATE WITH NUTS"
            />
          </picture>
        </div>
        <p class="sellers-photo_descr">
          Chocolate with nuts is a delectable combination that brings together
          the smoothness of chocolate and the crunchiness of nuts. Whether it's
          milk chocolate, dark chocolate, or white chocolate, the addition of
          nuts adds a whole new dimension of flavor and texture.
        </p>
        <div class="sellers-box_title">
          <p class="sellers-photo_title">CHOCOLATE WITH NUTS</p>
        </div>
      </li>
      <li class="sellers-item">
        <div class="sellers-box_photo">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/sellers/img-mob2-min.jpg    1x,
                ./img/sellers/img-mob2@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/sellers/img-tab2-min.jpg    1x,
                ./img/sellers/img-tab2@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/sellers/img-desc2-min.jpg    1x,
                ./img/sellers/img-desc2@2x-min.jpg 2x
              "
            />
            <img
              class="sellers-photo"
              src="./img/sellers/img-desc2-min.jpg"
              alt="CHOCOLATE WITH FRUITS"
            />
          </picture>
        </div>
        <p class="sellers-photo_descr">
          Chocolate with fruit is an unbeatable combination of two of the
          tastiest things in the world. This dessert combines delicate and
          aromatic chocolate with fresh and juicy fruits, creating a true poetry
          of taste.
        </p>
        <div class="sellers-box_title">
          <p class="sellers-photo_title">CHOCOLATE WITH FRUITS</p>
        </div>
      </li>
      <li class="sellers-item">
        <div class="sellers-box_photo">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/sellers/img-mob3-min.jpg    1x,
                ./img/sellers/img-mob3@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                ./img/sellers/img-tab3-min.jpg    1x,
                ./img/sellers/img-tab3@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/sellers/img-desc3-min.jpg    1x,
                ./img/sellers/img-desc3@2x-min.jpg 2x
              "
            />
            <img
              class="sellers-photo"
              src="./img/sellers/img-desc3-min.jpg"
              alt="DARK CHOCOLATE"
            />
          </picture>
        </div>
        <p class="sellers-photo_descr">
          Dark chocolate is a rich and indulgent treat that is beloved by many
          chocolate enthusiasts. It is made from cocoa beans, which are roasted,
          ground, and then processed to produce chocolate liquor. Dark chocolate
          contains a higher percentage of cocoa solids compared to milk
          chocolate.
        </p>
        <div class="sellers-box_title">
          <p class="sellers-photo_title">DARK CHOCOLATE</p>
        </div>
      </li>
    </ul>
  </div>
</section>
