<section class="section taste">
  <div class="container taste-container">
    <h2 class="section-title taste-title">
      It all adds up to one exceptional
      <span class="section-title_inside">taste</span> sensation
    </h2>
    <ul class="taste-list">
      <li class="taste-item">
        <svg class="taste-icon_arrow" width="24" height="24">
          <use href="./img/icons.svg#icon_arrow"></use>
        </svg>
        <div class="taste-block_img">
          <div class="taste-box_img">
            <img
              class="taste-img"
              src="./img/taste/img-1-min.png"
              srcset="
                ./img/taste/img-1-min.png    1x,
                ./img/taste/img-1@2x-min.png 2x
              "
              alt="chocolate"
              width="238"
            />
          </div>
          <h4 class="taste-title_img">Milk chocolate</h4>
        </div>
        <div class="taste-overlay">
          <h3 class="taste-overlay_subtitle">Milk chocolate</h3>
          <div class="taste-overlay_box">
            <p class="taste-box_text">chocolate</p>
          </div>
          <p class="taste-overlay_text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="taste-item"></li>
      <li class="taste-item"></li>
      <li class="taste-item"></li>
      <li class="taste-item taste-item_no"></li>
      <li class="taste-item taste-item_no"></li>
      <li class="taste-item taste-item_no"></li>
    </ul>
  </div>
</section>

<!-- <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./images/team-img/1team-mob-@1x-min.jpg 1x,
                      ./images/team-img/1team-mob-@2x-min.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1359px)"
                    srcset="
                      ./images/team-img/1team-tab-@1x-min.jpg 1x,
                      ./images/team-img/1team-tab-@2x-min.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1360px)"
                    srcset="
                      ./images/team-img/1team-desk-@1x-min.jpg 1x,
                      ./images/team-img/1team-desk-@2x-min.jpg 2x
                    "
                  />
                  <img
                    src="./images/team-img/1team-desk-@1x-min.jpg 1x"
                    alt="company employees"
                  />
                </picture> -->
