<section class="section taste">
  <div class="container taste-container">
    <h2 class="section-title taste-title">
      It all adds up to one<br />exceptional
      <span class="section-title_inside">taste</span> sensation
    </h2>
    <ul class="taste-list">
      <li class="taste-item chocolate">
        <svg class="taste-icon_arrow" width="24" height="24">
          <use href="./img/icons.svg#icon_arrow"></use>
        </svg>
        <div class="taste-block_img">
          <div class="taste-box_img">
            <img
              class="taste-img"
              src="./img/taste/img-1-min.png"
              srcset="
                ./img/taste/img-1-min.png    1x,
                ./img/taste/img-1@2x-min.png 2x
              "
              alt="chocolate"
              width="238"
            />
          </div>
          <h4 class="taste-title_img">Milk chocolate</h4>
        </div>
        <div class="taste-overlay">
          <h3 class="taste-overlay_title">Milk chocolate</h3>
          <p class="taste-overlay_subtitle">chocolate</p>
          <p class="taste-overlay_subtitle_next">benefits</p>
          <p class="taste-overlay_text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="taste-item milk">
        <svg class="taste-icon_arrow taste-icon_arrow_o" width="24" height="24">
          <use href="./img/icons.svg#icon_arrow"></use>
        </svg>
        <div class="taste-block_img taste-block_img_w">
          <div class="taste-box_img">
            <img
              class="taste-img"
              src="./img/taste/img-2-min.png"
              srcset="
                ./img/taste/img-2-min.png    1x,
                ./img/taste/img-2@2x-min.png 2x
              "
              alt="milk"
              width="238"
            />
          </div>
          <h4 class="taste-title_img taste-title_img_b">Milk</h4>
        </div>
        <div class="taste-overlay">
          <h3 class="taste-overlay_title">Milk</h3>
          <p class="taste-overlay_subtitle">milk</p>
          <p class="taste-overlay_subtitle_next">benefits</p>
          <p class="taste-overlay_text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system.
          </p>
        </div>
      </li>
      <li class="taste-item nuts">
        <svg class="taste-icon_arrow" width="24" height="24">
          <use href="./img/icons.svg#icon_arrow"></use>
        </svg>
        <div class="taste-block_img taste-block_img_b">
          <div class="taste-box_img">
            <img
              class="taste-img"
              src="./img/taste/img-3-min.png"
              srcset="
                ./img/taste/img-3-min.png    1x,
                ./img/taste/img-3@2x-min.png 2x
              "
              alt="Nuts"
              width="238"
            />
          </div>
          <h4 class="taste-title_img">Nuts</h4>
        </div>
        <div class="taste-overlay">
          <h3 class="taste-overlay_title">Nuts</h3>
          <p class="taste-overlay_subtitle">nuts</p>
          <p class="taste-overlay_subtitle_next">benefits</p>
          <p class="taste-overlay_text">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own.
          </p>
        </div>
      </li>
      <li class="taste-item semi">
        <svg class="taste-icon_arrow taste-icon_arrow_o" width="24" height="24">
          <use href="./img/icons.svg#icon_arrow"></use>
        </svg>
        <div class="taste-block_img taste-block_img_w">
          <div class="taste-box_img">
            <img
              class="taste-img"
              src="./img/taste/img-4-min.png"
              srcset="
                ./img/taste/img-4-min.png    1x,
                ./img/taste/img-4@2x-min.png 2x
              "
              alt="Semi"
              width="238"
            />
          </div>
          <h4 class="taste-title_img taste-title_img_b">
            Semi - sweet chocolate
          </h4>
        </div>
        <div class="taste-overlay">
          <h3 class="taste-overlay_title">Semi - sweet chocolate</h3>
          <p class="taste-overlay_subtitle">sweet chocolate</p>
          <p class="taste-overlay_subtitle_next">benefits</p>
          <p class="taste-overlay_text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter.
          </p>
        </div>
      </li>
      <li class="taste-item">
        <svg class="taste-icon_arrow" width="24" height="24">
          <use href="./img/icons.svg#icon_arrow"></use>
        </svg>
        <div class="taste-block_img">
          <div class="taste-box_img">
            <img
              class="taste-img"
              src="./img/taste/img-5-min.png"
              srcset="
                ./img/taste/img-5-min.png    1x,
                ./img/taste/img-5@2x-min.png 2x
              "
              alt="CACAO"
              width="238"
            />
          </div>
          <h4 class="taste-title_img">CACAO</h4>
        </div>
        <div class="taste-overlay">
          <h3 class="taste-overlay_title">Cacao</h3>
          <p class="taste-overlay_subtitle">cacao</p>
          <p class="taste-overlay_subtitle_next">benefits</p>
          <p class="taste-overlay_text">
            Cocoa is a natural product obtained from the fruits of the cocoa
            tree (Theobroma cacao). This tropical fruit contains beans, from
            which cocoa mass, cocoa powder and chocolate are made. The history
            of the use of cocoa goes back to ancient times. Already in ancient
            Mesoamerica, the Mayan and Aztec civilizations used cocoa in their
            culture and rituals
          </p>
        </div>
      </li>
      <li class="taste-item">
        <svg class="taste-icon_arrow taste-icon_arrow_o" width="24" height="24">
          <use href="./img/icons.svg#icon_arrow"></use>
        </svg>
        <div class="taste-block_img taste-block_img_w">
          <div class="taste-box_img">
            <img
              class="taste-img"
              src="./img/taste/img-6-min.png"
              srcset="
                ./img/taste/img-6-min.png    1x,
                ./img/taste/img-6@2x-min.png 2x
              "
              alt="RASPBERRY"
              width="238"
            />
          </div>
          <h4 class="taste-title_img taste-title_img_b">RASPBERRY</h4>
        </div>
        <div class="taste-overlay">
          <h3 class="taste-overlay_title">Raspberry</h3>
          <p class="taste-overlay_subtitle">raspberry</p>
          <p class="taste-overlay_subtitle_next">benefits</p>
          <p class="taste-overlay_text">
            Raspberry is a tasty and aromatic berry plant that is popular all
            over the world. It belongs to the pink family and grows in many
            regions, including North America, Europe and Asia. Raspberries have
            many varieties and color variations, from red to yellow and black.
          </p>
        </div>
      </li>
      <li class="taste-item">
        <svg class="taste-icon_arrow" width="24" height="24">
          <use href="./img/icons.svg#icon_arrow"></use>
        </svg>
        <div class="taste-block_img taste-block_img_b">
          <div class="taste-box_img">
            <img
              class="taste-img"
              src="./img/taste/img-7-min.png"
              srcset="
                ./img/taste/img-7-min.png    1x,
                ./img/taste/img-7@2x-min.png 2x
              "
              alt="COCONUT OIL"
              width="238"
            />
          </div>
          <h4 class="taste-title_img">COCONUT OIL</h4>
        </div>
        <div class="taste-overlay">
          <h3 class="taste-overlay_title">COCONUT OIL</h3>
          <p class="taste-overlay_subtitle">coconut oil</p>
          <p class="taste-overlay_subtitle_next">benefits</p>
          <p class="taste-overlay_text">
            Cocoa is a natural product obtained from the fruits of the cocoa
            tree (Theobroma cacao). This tropical fruit contains beans, from
            which cocoa mass, cocoa powder and chocolate are made. The history
            of the use of cocoa goes back to ancient times. Already in ancient
            Mesoamerica, the Mayan and Aztec civilizations used cocoa in their
            culture and rituals
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./images/team-img/1team-mob-@1x-min.jpg 1x,
                      ./images/team-img/1team-mob-@2x-min.jpg 2x
                    "
                  />
                  <source
                    media="(max-width: 1359px)"
                    srcset="
                      ./images/team-img/1team-tab-@1x-min.jpg 1x,
                      ./images/team-img/1team-tab-@2x-min.jpg 2x
                    "
                  />
                  <source
                    media="(min-width: 1360px)"
                    srcset="
                      ./images/team-img/1team-desk-@1x-min.jpg 1x,
                      ./images/team-img/1team-desk-@2x-min.jpg 2x
                    "
                  />
                  <img
                    src="./images/team-img/1team-desk-@1x-min.jpg 1x"
                    alt="company employees"
                  />
                </picture> -->
