/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*   Додати щоб скролл був повільний */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.section {
  background-color: #fafafa;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.section-title_inside {
  color: #fd9222;
}

.button {
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 335px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1136px;
  }
}
