.header {
  padding: 20px 14px;
  background-color: #fff;
}

.logo_link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
}

.logo {
  font-style: italic;
  margin-right: 4px;
}
