.menu {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* прихований, але не пробивний кліком */
  opacity: 0;
  /* і прихований і пробивний кліком */
  visibility: hidden;
  pointer-events: none;
}

/* .is-open */
.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu:not(.is-open) {
  transform: translate(-50%, -50%) matrix(1, 2, 3, 4, 5, 6);
}

.menu-container {
  margin: 0 auto;
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  overflow: auto;
}

.menu-btn_close {
  margin-left: auto;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-shrink: 0;
  margin-bottom: 88px;
  background-color: #1e1823;
}

.menu-icon_close {
  fill: #fff;
}

.menu-nav {
  margin-bottom: auto;
  padding-right: 28px;
  padding-left: 28px;
}

.menu-list_page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-link_page {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.menu-link_page:hover,
.menu-link_page:focus {
  color: #fd9222;
}

.menu-list_icon {
  display: flex;
  gap: 12px;
}

.menu-icon_net {
  fill: #fff;
}

.menu-icon_net:hover,
.menu-icon_net:focus {
  fill: #fd9222;
}

@media screen and (min-width: 768px) {
  .menu.is-open {
    display: none;
  }
}
