.taste {
  padding-top: 80px;
  padding-bottom: 40px;
}

.taste-title {
  max-width: 283px;
  margin: 0 auto 32px;
}

.taste-list {
  height: 1140px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* якщо для сторінки ::-webkit-scrollbar  */

/* скрол-крайні точки */

.taste-list::-webkit-scrollbar {
  width: 7px;
  background-color: #fd9222;
}

/* индикатор */

.taste-list::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #dae2e7;
}

/* полоса-контраст */

.taste-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background-color: #f9f9fd;
}

.taste-box_img {
  margin-bottom: 16px;
}

.taste-title_img {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
}

.taste-title_img_b {
  color: #111;
}

.taste-img {
  margin-left: auto;
}

.taste-icon_arrow {
  fill: #fafafa;
  position: absolute;
  right: 14.4px;
  top: 14.4px;
}

.taste-icon_arrow_o {
  fill: #fd9222;
}

.taste-item {
  position: relative;
  height: 270px;
  /* overflow: hidden; для transform: translateX(0%);*/
  /* ---------- rotate ------------- */
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* измен оси поворота Х справа*/
  transform-origin: center right;
}

.taste-block_descr {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding-top: 32px;
  padding-right: 49px;
  padding-bottom: 28px;
  padding-left: 28px;
  background-color: #fd9222;
  border-radius: 15px;
}

.taste-block_milk {
  background-color: #fff;
  border: 1px solid #fd9222;
}

.taste-block_semi {
  background-color: #fff;
  border: 1px solid #fd9222;
}

.taste-block_raspberry {
  background-color: #fff;
  border: 1px solid #fd9222;
}

.taste-block_nuts {
  background-color: #1e1823;
}

.taste-block_coconut {
  background-color: #1e1823;
}

.taste-block_vanil {
  background-color: #fff;
  border: 1px solid #fd9222;
}

.taste-item:not(:last-child) {
  margin-bottom: 20px;
}

.taste-overlay {
  position: absolute;
  padding: 28px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  /* ----------оверлей------- */
  /* transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* ------rotate-------- */
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/* hover для десктопа */

/* .taste-item:hover,
.taste-item:focus { */
/* --------оверлей------ */
/* transform: translateX(0%); */
/*поворот через центр по Y */
/* transform: rotateY(180deg); */
/* поворот через смещенную ось Y справа  */
/* transform: translateX(-100%) rotateY(-180deg);
} */

@media screen and (max-width: 1199px) {
  .taste-item_a.is-flipped,
  .taste-item_b.is-flipped,
  .taste-item_c.is-flipped,
  .taste-item_d.is-flipped,
  .taste-item_e.is-flipped,
  .taste-item_f.is-flipped,
  .taste-item_g.is-flipped,
  .taste-item_j.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
}

.taste-overlay_title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}

.taste-overlay_subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  display: inline-block;
  border-radius: 35px;
  padding: 6px 16px;
  background-color: #fd9222;
  margin-bottom: 14px;
  margin-right: 6px;
  text-align: center;
}

.taste-overlay_subtitle_next {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  display: inline-block;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  background-color: #fafafa;
  margin-bottom: 14px;
  text-align: center;
}

/* ------скрол-крайні точки ------*/

.taste-overlay::-webkit-scrollbar {
  width: 4px;
  background-color: #fd9222;
}

/* индикатор */

.taste-overlay::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #fd9222;
}

/* полоса-контраст */

.taste-overlay::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #f9f9fd;
}

.taste-overlay_text {
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

@media screen and (min-width: 768px) {
  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .taste-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    max-width: 486px;
    margin: 0 auto 50px;
  }

  .taste-list {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    overflow: visible;
  }

  .taste-item_chocolate {
    order: -4;
  }

  .taste-item_semi {
    order: -3;
  }

  .taste-item_milk {
    order: -2;
  }

  .taste-item_nuts {
    order: -1;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  .taste-item:nth-child(n) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .taste {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .taste-list {
    column-gap: 32px;
    row-gap: 24px;
  }

  .taste-item {
    width: calc((100% - 32px * 3) / 4);
  }

  .taste-block_descr {
    padding-top: 28px;
    padding-right: 23px;
    padding-bottom: 28px;
    padding-left: 23px;
  }

  .taste-item_semi {
    order: -1;
  }

  .taste-item_milk {
    order: -3;
  }

  .taste-item_nuts {
    order: -2;
  }

  .taste-box_img {
    margin-bottom: 36px;
  }

  .taste-overlay {
    padding: 20px 15px 24px;
    overflow: auto;
  }

  /* hover для десктопа */

  .taste-item:hover,
  .taste-item:focus {
    /* --------оверлей------ */
    /* transform: translateX(0%); */
    /*поворот через центр по Y */
    /* transform: rotateY(180deg); */
    /* поворот через смещенную ось Y справа  */
    transform: translateX(-100%) rotateY(-180deg);
  }
}
