.scroll-to-top {
  display: block;
  position: fixed;
  bottom: 210px;
  right: 8%;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;

  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: slide-top 1s linear 2s infinite alternate both;
}

.scroll-to-top-icon {
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #1e1823;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.scroll-to-top:hover .scroll-to-top-icon,
.scroll-to-top:focus .scroll-to-top-icon {
  fill: #fd9222;
  background-color: transparent;
}

.js-transparent {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .scroll-to-top-icon {
    width: 35px;
    height: 35px;
  }
}
